<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Créer un utilisateur</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Créer un nouvel utilisateur :</h1>

    <form action="/admin/endpoint_create_user" method="get">
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Mot de passe" required />
        <input type="text" name="is_admin" placeholder="Admin ? True/False" />
        <button type="submit">Créer</button>
    </form>
</body>
</html>
